#container{
  width: 84%;
  max-width: 1280px;
  min-width: 512px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 7rem;
   background: #333;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
  }

nav {
  padding: 1rem 1rem ;
  background: #333;
}

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  nav ul li {
    list-style: none;
    margin-right: 2rem;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
  }

main{
  display: flex;
  flex-direction: row;
}

  section{
    flex: 4;
    padding: 3rem;
    background: #EEE;
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #FFF;
    }

    article img{
      width:75%;
    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #DDD;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}

/* YouTube 動画　をフレキシブルにするための CSS */

.youtube {
     position: relative;
     padding-bottom: 56.25%; /* 16:9の場合*/
     height: 0;
     overflow: hidden;
}

.youtube iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
